* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidemenu {
    height: 100vh;
    transition: all 1s ease-in-out;

    position: fixed;
    left: -450px;
    top: 0;
    z-index: 999;
}

#sidemenu p {
	font-family: open-sans,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	color: #fff;
	text-align: justify;
	
	padding: 0 5px;
	margin: 32px 0;
}

#sidemenu h2 {
	font-family: open-sans,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	
	margin: 40px 0;
}

#sidemenu a {
	color: #DB654B;
}

#sidebar {
    background: #282423;
    width: 450px;
    height: 100vh;
    padding-top: calc(75px - 40px); 
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0px 35px 35px 0px;
}

#paw {
    width: 60px;
    height: 60px;
    display: block;
    padding: 14px;
    background: #B02000;
    border-radius: 10px;

    position: absolute;
    bottom: 50px;
    left: calc(450px + 50px);

    cursor: pointer;
}

#paw img {
    height: auto;
    width: auto;
    margin: auto;
}
