* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

html {
	cursor: url("../img/drumstick-cursor.png"), auto;
}

body {
	background: url("../img/josh-sorenson-MjIMc6uhwrE-unsplash.jpg");
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
}

.drum {
	display: flex;
	flex-direction: row;
}

.key {
	width: 100px;
	height: 100px;
	border-radius: 10px;;
	background: #ffe8e5b7;
	margin: 10px;
	transition: all .05s;
}

kbd {
	font-size: 30px;
	font-family: monospace;
	font-weight: 700;
	color: #380424;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 15px;
	pointer-events: none;
	user-select:none;
}

.sound {
	color: #471c17;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: sans-serif;
	font-size: 13px;
	pointer-events: none;
	user-select:none;
}

.clap {
	box-shadow: 0 0 2em #f8b59ed7;
	background: #f8b59e8f;
	transform: scale(1.1);
}

.credit {
	display: block;
	position: absolute;
	bottom: 15px;
	right: 15px;
	user-select:none;
	background: #00000065;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	color: white;
}

.credit a {
	color: #f8b59e;
}

.metronom {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	bottom: 15px;
}

.btn {
	padding: 15px 20px;
	border-radius: 10px;
	border: none;
	margin: 10px;
	background: #f8b59e8f;
	color: #380424;
	font-weight: 700;
	cursor: inherit;
	user-select: none;
}



.btn.active, .btn:active {
	outline: none;
	border: none;
	background: #f8b59e;
}

@media (max-width: 1080px) {
	.drum {
		flex-wrap: wrap;
		width: 360px;
	}
}